@model GETForms.Web.Models.FilmSearch

@{
    ViewData["Title"] = "SearchResult";
}

<h2>SearchResult</h2>

<h4>FilmSearch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResult">
            <div class="form-group">
                <label asp-for="MinimumLength" class="control-label"></label>
                <input asp-for="MinimumLength" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MaximumLength" class="control-label"></label>
                <input asp-for="MaximumLength" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SelectedGenre" class="control-label"></label>
                <input asp-for="SelectedGenre" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

