
@{
    ViewData["Title"] = "Fibonacci";
    int max = (int)ViewData["max"];

    List<int> fibNums = new List<int>();
    fibNums.Add(0);
    fibNums.Add(1);

    while (fibNums[fibNums.Count - 1] <= max)
    {
        fibNums.Add(fibNums[fibNums.Count - 2] + fibNums[(fibNums.Count - 1)]);
    }

    if (fibNums[fibNums.Count - 1] > max)
    {
        fibNums.RemoveAt(fibNums.Count - 1);
    }

}

<style>

    ol li:first-child {
        color: #228b22;
    }

    ol li:last-child {
        color: #b71b1b;
    }
</style>

<h2>Fibonacci</h2>
<h3>According to Wikipedia (always correct), F<sub>0</sub>= 0.</h3>
<h4><a href="https://en.wikipedia.org/wiki/Fibonacci_number">The Proof</a></h4>

<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="-1">-1</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="0">0</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="1">1</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="10">10</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100">100</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="1000">1,000</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100000">100,000</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="10000000">10,000,000</a></li>
    </ul>
</nav>

@if (max >= 0)
{

    <ol start="0">

        @foreach (int num in fibNums)
        {
            <li>@num</li>
        }

    </ol>

}
else
{
  <div>There are no results to display.  Choose a non-negative max value.  (Greater than or equal to F<sub>0</sub>.)</div>
}

