@model Product
@{
    ViewData["Title"] = "Detail";
}


<link rel="stylesheet" type="text/css" href="~/css/detail.css">


<h2>Product Page</h2>

<div id="productFlex">

    @{
        string roundedProductStars = Math.Ceiling(Model.AverageRating).ToString();
    }

    <div class="imageFlexCell">
        <img class="productImage" src="~/images/@Model.ImageName" />
    </div>
    <div class="infoFlexCell">
        <div class="productNameFlex">
            <h3 class="productName">@Model.Name</h3>
            @if (Model.IsTopSeller)
            {
                <img class="bestSellerImage" src="~/images/best-seller.png" />
            }
        </div>
        <p>by @Model.Manufacturer</p>
        <img class="starImage" src="~/images/@roundedProductStars-star.png" />
        <p class="price">Price: $@Model.Price</p>
        <p><span class="weightBold">Weight </span>@Model.WeightInLbs lbs</p>
        <p><span class="descriptionBold">Description: </span>@Model.Description</p>

    </div>

</div>